
div.minibb-postheader {
  background: #f5e0d0;
  color: #111;
}

div.minibb-postheader a {
  background: none;
  color: #111;
}


h2.minibb-threadtitle {
  background: none;
  border: none;
  color: #000;
  margin: 1em 0;
}

div.minibb-trip {
  background: #fff;
  color: #111;
}
