@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;700&display=swap');
@import url('mateuszbb-common.css');
@import url('mateuszbb-custom.css');

h1 {
  font-size: 1.35em;
  margin: 3em auto 0 auto;
  text-align: center;
  font-weight: 600;
}

p.copyr {
  font-size: 1.00em;
  margin: 0 auto 4.5em auto;
  color: #999;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1.75em 0 0 0;
  text-align: left;
}

p {
  font-size: 1.00em;
  margin: 0.5em 0 0 0;
  text-align: justify;
}

html {
  margin: 0;
  padding: 0;
  background-color: #adf;
}

body {
  font-size: 1.15em;
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  padding: 0 0.5em 1.5em 0.5em;
  box-sizing: border-box;
  width: 100%;
  max-width: 60em;
  border: 1px #999 solid;
  border-top: 0;
}

div.download {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em 0.5em;
  margin: 1em 0;
}

div.download div {
  display: flex;
  flex-direction: column;
  border: 1px #aaa solid;
  border-radius: 0.25em;
  margin: 0;
  padding: 0.2em 0.75em;
  width: 12em;
  flex-grow: 1;
}

div.download div h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em 0 0 0;
}

div.download div p {
  margin: 0 0 0.5em 0;
  line-height: 1.4em;
  font-size: 0.9em;
}

div.download div ul {
  margin: 1em auto;
}

a:link, a:visited, a:active { /* unvisited, visited link, selected link */
  color: #00e; text-decoration: none;
}

a:hover { /* mouse over link */
  color: #00e; text-decoration: none;
  background-color: #e2faff;
  border-radius: 0.25em;
}

a.mateusz {
  color: inherit; text-decoration: none;
}

table {
  margin: 1em auto;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

table th {
  text-weight: 600;
}

table :not(thead) tr:nth-child(odd) {
  background-color: #f5f5f5;
}

table thead tr {
  border-bottom: 1px #bbb solid;
}

table.nls {
  margin: 1em auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}

table.nls th {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

table.nls td {
  border: 1px #777 solid;
  padding: 0.2em 0.5em;
}

td.pkg {
  text-align: left;
  font-size: 1em;
}

td.err {
  background-color: #f00;
  text-align: center;
  font-size: 0.9em;
}

td.complete {
  background-color: #5f5;
  text-align: center;
  font-size: 0.9em;
}

td.incomplete {
  background-color: #fbb;
  text-align: center;
  font-size: 0.9em;
}

td.unsup {
  background-color: #bbb;
  text-align: center;
  font-size: 0.9em;
}

table tr td span.extrainfo, table tr td span.extrainfo a {
  font-size: 0.9em;
  font-style: italic;
  color: #666;
}

span.helpmsg {
  font-size: 0.7em;
  color: #44e;
  font-weight: bold;
  border-radius: 1em;
  background: #f7f700;
  vertical-align: super;
  padding: 0 0.3em;
}

code {
  border: 1px #ddd solid;
  border-radius: 0.4em;
  padding: 0 0.25em;
  background: #f7f7f7;
  font-size: 1.1em;
}
