@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&family=Source+Sans+Pro&display=swap');

h1 {
  font-size: 1.35em;
  margin: 3em auto 0 auto;
  text-align: center;
  font-weight: 600;
}

p.copyr {
  font-size: 1.00em;
  margin: 0 auto 4.5em auto;
  color: #999;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1.75em 0 0 0;
  text-align: left;
}

p {
  font-size: 1.00em;
  margin: 0.5em 0 0 0;
  text-align: justify;
}

p.tech {
  white-space: pre-wrap;
  font-size: 1.1em;
  text-align: left;
}

p.wondering {
  font-size: 0.95em;
  margin: 1.3em 0 0 0;
  border: 1px #222 dashed;
  padding: 0.1em 0.4em;
  opacity: 0.8;
}

html {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

body {
  font-size: 1.1em;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  padding: 0 0.5em 0.5em 0.5em;
  box-sizing: border-box;
  width: 100%;
  max-width: 60em;
  border: 1px #999 solid;
  border-top: 0;
}

a:link { /* unvisited link */
  color: #008; text-decoration: none;
}

a:visited { /* visited link */
  color: #008; text-decoration: none;
}

a:hover { /* mouse over link */
  color: #00F; text-decoration: none;
}

a:active { /* selected link */
  color: #008; text-decoration: none;
}

a.mateusz {
  color: inherit; text-decoration: none;
}

table.nls {
  margin: 1em auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}

table.nls th {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

table.nls td {
  border: 1px #777 solid;
  padding: 0.2em 0.5em;
}

td.pkg {
  text-align: left;
  font-size: 1em;
}

td.err {
  background-color: #f00;
  text-align: center;
  font-size: 0.9em;
}

td.complete {
  background-color: #5f5;
  text-align: center;
  font-size: 0.9em;
}

td.incomplete {
  background-color: #fbb;
  text-align: center;
  font-size: 0.9em;
}

td.unsup {
  background-color: #bbb;
  text-align: center;
  font-size: 0.9em;
}
